<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oliverdietz.tale_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MeetingDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FriendsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GroupsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register1Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Register2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".NewMeetingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>